/antykoncpecja_czy_wiesz_juz_wszystko_dr_elzbieta_siwiak.mp3
/metody_rozpoznawania_plodnosci_w_praktyce_slizen-kuczapska.mp3
/konferencja_o_antykoncepcji_swiadectwo.mp3
/Wplyw_antykoncepcji_na_uklad_rodny_kobiety_prof_jolanta_kupryjanczyk.mp3
/Powiklania_zakrzepowe_antykoncepcji_dr_jerzy_leszczynski.mp3
