/SMM2008-Wanda_Poltawska,Tozsamosc_Kobiety.mp3
/SMM2008-Jacek_Pulikowski,Zakochanie_i_co_dalej(b).mp3
/SMM2008-Jan_Halbersztat,Milosc_wiernosc_i_uczciwosc_malzenska.mp3
/SMM2008-o.MiroslawPilsniak,Slubowac_czy_nie_slubowac.mp3
/SMM2008-ksTadeusz_Bienasz,Oblubienczy_sens_ciala_i_pozadliwosc_czlowieka.mp3
