Options -Indexes
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

# https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers
ServerSignature Off
Header set X-Frame-Options DENY
Header set Strict-Transport-Security "max-age=31536000 ; includeSubDomains"
Header set X-XSS-Protection "1; report=https://solideo.pl/kontakt/anna-marysinska"
Header set X-Content-Type-Options: nosniff
# Only allow JavaScript from the same domain to be run.
# Don't allow inline JavaScript to run.
Header set Content-Security-Policy "script-src 'self' cdn.ampproject.org ajax.googleapis.com www.google.com *.gstatic.com 'unsafe-inline'; child-src youtube.com yt.co *.google.com *.youtube-nocookie.com *.facebook.com;"
Header set X-Permitted-Cross-Domain-Policies none

Header unset Server
Header unset X-Powered-By

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]


RewriteRule ^sitemap\.xml$ /sitemap.xml.php [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?q=$1 [L,QSA]

# BEGIN EXPIRES
ExpiresActive On
ExpiresDefault "access plus 10 days"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/plain "access plus 10 days"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType application/x-javascript "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType application/x-icon "access plus 1 year"
# END EXPIRES

