/Muniek_Staszczyk_Tak_bardzo_chcialbym_zostac_kumplem_twym.mp3
/Meskie_rozmowy_o_seksie.mp3
/Slowo_dla_Zniecheconych-Czy_Kosciol_powinien_byc_doskonaly.mp3
/Slowo_dla_Zniecheconych-Aborcja_eutanazja_a_ekskomunika.mp3
/Slowo_dla_Zniecheconych-Ksiadz_ideal_czy_tez_czlowiek.mp3
