/7-Pytanie_o_obecnosc_niewierzacych_we_Mszy_Sw.mp3
/8-Pytanie_o_msze_trydencka.mp3
/2-Pytanie_o_polecane_ksiazki_nt_Eucharystii.mp3
/4-Pytanie_o_kaplanstwo_kobiet.mp3
/6-Kolejne_dwa_pytania.mp3
/3-Pytanie_o_roznice_miedzy_liturgia_a_Eucharystia.mp3
/5-Pytanie_o_pierwsza_Msze_Sw_i_o_Komunie_Sw.mp3
/9-Pytanie_o_Msze_Sw_w_rycie_dominikanskim.mp3
/1-Pytanie_o_sukcesje_apostolska.mp3
