/aniolyidemony_prezentacja.zip
/LaboratoriumMilosci2007-JerzyGrzybowski_O_Milosci_na_niby.mp3
/LaboratoriumMilosci2007-ks.Kruszewski_Kobiety_-_Anioly_i_demony.mp3
/LaboratoriumMilosci2007-o.Miroslaw_Pilsniak_Idz_na_calosc.mp3
